body {
    font-family: 'Oswald', sans-serif;
font-family: 'Roboto Mono', monospace;;
margin: 0px;
}
#header{
    display: flex;
    background-image: url(Images/top-banner.png);
    background-repeat: no-repeat;
}
.header-part{
    width:50%;
    padding-left: 5%;
}
.blog-name{
    color: orangered;
}
.link-color{
   padding: 10px 40px;
   background: linear-gradient(#e66465, #9198e5);
   text-decoration: none;
   border-radius: 10px;
}
h1{
    font-size: 50px;
}
.header-part img{
    width: 600px;
}
#header2{
    display: flex;
    background-image: url(images/dream-bg.png);
    background-repeat:no-repeat;
    background-position: right;
    margin-top: 10%;
}
.dream-area{
    padding-right: 5%;
}
.dream-area img{
    width: 400px;
}
.resume{
    background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
    border-radius: 25px;
    padding: 10px 40px;
}


    
#experience-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
    padding: 10%;
}
.experience-area-part{
    display: flex;
    
}
.experience-area-part h3{
    color: orange;
}
.experience-area-part div{
    box-shadow: 5px 7px 40px gray;
    height: 80%;
    margin: 25px;
}
#full{border-left: 7px solid;
    border-image: linear-gradient(180deg, red, tomato);
    border-image-slice: 1;
    padding: 15px;
}
#foll{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, Blue, cyan);
    border-image-slice: 1;
    padding: 15px;
}